---
import Layout from "../layouts/Layout.astro";
import "../layouts/font.css";
---

<Layout title="Inkom">
	<section
		class="h-screen bg-no-repeat bg-cover pt-[23px]"
		style="background-image: url(/hero-phone.png);"
	>
		<header
			class="header ml-[300px] flex items-center mb-[180px] max-2xl:ml-[150px] max-xl:ml-[0px] max-xl:justify-center max-lg:justify-center max-md:justify-center"
		>
			<div class="content flex max-2xl:justify-center">
				<div
					class="left mr-[114px] flex max-2xl:mr-[184px] max-xl:mr-[10%] max-lg:mr-[70%] max-md:mr-[70%]"
				>
					<div class="flex items-center">
						<a
							href="#"
							class="flex flex-col mr-[110px] max-2xl:mr-[82px] max-xl:mr-[60px] max-lg:mr-[45px]"
						>
							<h1
								class="text-white text-[51px] font-[900] h-14 uppercase font-museo max-2xl:text-[41px] max-xl:text-[35px] max-lg:text-[30px]"
							>
								Инком
							</h1>
							<h2
								class="text-[#CFA55B] text-[27px] font-[700] font-museo max-2xl:text-[22px] max-xl:text-[19px] max-lg:text-[16px]"
							>
								Недвижимость
							</h2>
						</a>
						<p
							class="text-white text-[18px] font-[500] font-museo w-[40%] max-2xl:text-[15px] max-2xl:w-[49%] max-xl:text-[13px] max-xl:w-[51%] max-lg:text-[12px] max-lg:w-[195px] max-md:w-[25px] max-md:text-[10px]
							max-md:hidden"
						>
							Все работают с недвижимостью, а мы с людьми
						</p>
					</div>
				</div>
				<div class="right flex items-center w-[38%] max-2xl:w-[53%]">
					<a
						href="tel:+76845550102"
						class="text-white text-[24px] font-[700] transition-all hover:text-[#FFC256] active:text-[#CFA55B] font-museo mr-[40px] w-[63%]
						max-2xl:text-[18px] max-2xl:w-[45%] max-2xl:mr-[0px] max-xl:mr-[15px] max-xl:text-[17px] max-lg:hidden"
						>+7 (684) 555-01-02</a
					>
					<button
						class="text-[#FFC256] w-[63%] hover:text-white hover:bg-[#FFC256] active:bg-[#CFA55B] active:border-[#CFA55B] transition-all
						 text-[14px] font-[700]
						 font-museo px-[25px] py-[15px] rounded-[5px] border-sodil border-[#FFC256] border-[2px] max-2xl:text-[13px] max-2xl:w-[47%] max-xl:text-[12px] max-xl:w-[58%] max-lg:hidden"
						style="box-shadow: 0px 0px 30px 0px #FFC256;"
					>
						Бесплатная консультация
					</button>
					<button
						class="2xl:hidden max-2xl:hidden max-xl:hidden max-lg:flex"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="37"
							height="37"
							viewBox="0 0 37 37"
							fill="none"
						>
							<path
								d="M35.8438 11.5625H1.15631C0.51804 11.5625 9.53674e-05 11.0445 9.53674e-05 10.4063C9.53674e-05 9.76801 0.518135 9.25006 1.15631 9.25006H35.8438C36.4821 9.25006 37 9.7681 37 10.4063C37 11.0445 36.482 11.5625 35.8438 11.5625Z"
								fill="white"></path>
							<path
								d="M1.15631 17.3438H35.8438C36.4821 17.3438 37 17.8618 37 18.5C37 19.1382 36.482 19.6562 35.8438 19.6562H1.15631C0.51804 19.6562 9.53674e-05 19.1382 9.53674e-05 18.5C9.53674e-05 17.8618 0.51804 17.3438 1.15631 17.3438Z"
								fill="white"></path>
							<path
								d="M1.1563 25.4375H24.2813C24.9196 25.4375 25.4375 25.9556 25.4375 26.5938C25.4375 27.232 24.9195 27.75 24.2813 27.75H1.1563C0.518028 27.75 8.39233e-05 27.2319 8.39233e-05 26.5938C-1.33514e-05 25.9555 0.518028 25.4375 1.1563 25.4375Z"
								fill="white"></path>
						</svg>
					</button>
				</div>
			</div>
		</header>

		<div class="hero">
			<div
				class="flex flex-col mx-[300px] justify-center max-2xl:mx-[150px] max-xl:mx-[75px] max-lg:mx-[50px] max-md:mx-[45px]"
			>
				<div
					class="top flex flex-col max-md:justify-center max-md:items-center"
				>
					<div
						class="flex items-center relative max-md:justify-center"
					>
						<h2
							class="text-white text-[36px] font-[900] font-museo w-[580px] mb-[83px] max-2xl:text-[33px] max-xl:text-[31px] max-lg:text-[26px] max-lg:w-[65%] max-md:w-[100%] max-md:text-[27px]"
						>
							Агентство недвижимости <span
								class="text-[#CFA55B] font-[900] font-museo"
								>ИНКОМ</span
							>
							Мы гарантировано продадим вашу недвижимость на <span
								class="text-[#CFA55B] font-[900] font-museo"
								>15% дороже</span
							>
						</h2>
						<button
							class="absolute left-[1060px] rounded-[50%] w-[63px] h-[63px] flex flex-col items-center justify-center max-2xl:left-[770px] max-xl:left-[700px] max-lg:left-[500px]
							max-md:left-[300px] max-md:hidden"
							style="background-color: rgba(255, 190, 75, 0.30); box-shadow: 0px 0px 30px 0px #FFC256;"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="23"
								height="23"
								viewBox="0 0 23 23"
								fill="none"
							>
								<path
									d="M4.59534 0.159578C4.77902 0.053275 4.9846 0 5.19049 0C5.39582 0 5.60133 0.053275 5.78582 0.159578L19.975 10.4693C20.3427 10.6817 20.5704 11.075 20.5704 11.5002C20.5704 11.9253 20.3433 12.3185 19.975 12.5307L5.78582 22.8409C5.41758 23.053 4.96364 23.053 4.59564 22.8409C4.22734 22.6279 4 22.2345 4 21.8096V1.19036C4 0.765397 4.22697 0.372185 4.59534 0.159578Z"
									fill="white"></path>
							</svg>
						</button>
					</div>
					<div
						class="p-[7px] border-[1px] transition-all border-solid border-[#CFA55B] mb-[156px] w-fit max-2xl:mb-[10%] max-xl:mb-[20%] max-lg:mb-[25%]"
					>
						<button
							class="text-white text-[16px] transition-all hover:bg-[#FFC256] active:bg-[#CFA55B] bg-[#CFA55B] font-[900] font-museo py-[30px]
							 px-[44px] rounded-[5px] w-[350px] max-2xl:text-[15px] max-xl:text-[13px] max-lg:text-[11px] max-md:w-[267px]"
							style="box-shadow: 0px 0px 60px 0px rgba(255, 194, 86, 0.50);
					#CFA55B
					"
							>УЗНАТЬ СТОИМОСТЬ ПРОДАЖИ
						</button>
					</div>
				</div>
				<div class="bottom max-2xl:w-[100%]">
					<ul class="flex" style="justify-content: space-between">
						<li
							class="flex items-center justify-center gap-[10px] w-[300px]"
						>
							<p
								class="text-white text-[16px] font-[400] font-roboto max-2xl:text-[17px] max-xl:text-[17px] max-lg:text-[14px] w-[70%] max-md:hidden"
							>
								Продано недвижимости на 3 млрд рублей за 5 лет
							</p>
						</li>
						<li class="flex items-center justify-center gap-[10px]">
							<p
								class="text-white text-[16px] font-[400] font-roboto max-2xl:text-[17px] max-xl:text-[17px] max-lg:text-[14px] w-[70%] max-md:hidden"
							>
								Юридическое сопровождение
							</p>
						</li>
						<li
							class="flex items-center justify-center gap-[10px] w-[270px]"
						>
							<p
								class="text-white text-[16px] font-[400] font-roboto max-2xl:text-[17px] max-xl:text-[17px] max-lg:text-[14px] w-[75%] max-md:hidden"
							>
								Квартиры по Москве и области на любой выбор
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<!-- Почему мы продаем дорого -->
	<section class="pt-[78px] pb-[118px]">
		<div
			class="mx-[300px] max-2xl:mx-[150px] max-xl:mx-[75px] max-lg:mx-[50px]"
		>
			<h2
				class="text-center text-[#424242] text-[60px] font-[900] font-museo mb-[51px] max-2xl:text-[46px] max-xl:text-[41px] max-lg:text-[31px]"
			>
				Почему мы продаем дорого и делаем это в <span
					class="text-[#CFA55B]">2 раза быстрее</span
				>
			</h2>
			<div
				class="all flex mb-[74px] max-lg:flex-col max-lg:justify-center max-lg:text-center"
			>
				<div class="left mr-auto max-lg:mr-0">
					<p
						class="mb-[24px] text-[#CFA55B] text-[96px] font-roboto font-[900] uppercase opacity-[0.3] max-xl:text-[90px] max-lg:text-[80px]"
					>
						01
					</p>
					<h3
						class="mb-[42px] text-[#424242] text-[30px] font-[900] uppercase font-museo max-2xl:text-[25px] max-xl:text-[24px] max-md:text-[20px]"
					>
						Собственная база покупателей
					</h3>
					<ul
						class="mb-[43px] flex flex-col max-lg:justify-center max-lg:items-center"
					>
						<li
							class="flex gap-[27px] mb-[30px] max-lg:w-[66%] max-lg:text-start"
						>
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_8_11)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_8_11"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_8_11"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_8_11"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[18px] font-[500] font-museo max-2xl:text-[15px]"
							>
								Создаем спрос на объект еще до размещения его в
								рекламе
							</p>
						</li>
						<li
							class="flex gap-[27px] mb-[30px] max-lg:w-[66%] max-lg:text-start"
						>
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_8_11)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_8_11"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_8_11"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_8_11"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[18px] font-[500] font-museo max-2xl:text-[15px]"
							>
								Используем закрытые базы риэлторов
							</p>
						</li>
						<li
							class="flex gap-[27px] max-lg:w-[66%] max-lg:text-start"
						>
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_8_11)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_8_11"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_8_11"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_8_11"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[18px] font-[500] font-museo max-2xl:text-[15px]"
							>
								Продаем через собственную наработанную базу из
								6000
							</p>
						</li>
					</ul>
					<button
						class="text-white text-[18px] font-[900] font-museo py-[32px] px-[74px] rounded-[5px] transition-all hover:bg-[#FFC256] active:bg-[#CFA55B] bg-[#CFA55B] max-2xl:text-[16px]
						 max-xl:text-[14px] max-md:py-[18px] max-md:px-[50px]"
						style="
					box-shadow: 0px 20px 40px 0px rgba(207, 165, 91, 0.40);"
						>Получите превью предложения</button
					>
				</div>
				<div
					class="flex bg-no-repeat bg-cover w-[55%] bg-left h-[432px] mt-[135px] max-2xl:bg-contain max-xl:bg-contain max-lg:hidden"
					style="background-image: url(/sect-2.png);"
				>
				</div>
			</div>

			<div
				class="all mb-[74px] flex max-lg:flex-col max-lg:justify-center max-lg:text-center"
			>
				<div
					class="flex bg-no-repeat bg-cover w-[55%] bg-left h-[432px] mt-[135px] max-2xl:bg-contain max-lg:hidden"
					style="background-image: url(/sect-2.png);"
				>
				</div>
				<div class="right max-lg:ml-0">
					<p
						class="mb-[24px] text-[#CFA55B] text-[96px] font-roboto font-[900] uppercase opacity-[0.3] max-xl:text-[90px] max-lg:text-[80px]"
					>
						02
					</p>
					<h3
						class="mb-[42px] text-[#424242] text-[30px] font-[900] uppercase font-museo max-2xl:text-[25px] max-xl:text-[24px] max-md:text-[20px]"
					>
						Собственная база покупателей
					</h3>
					<ul
						class="mb-[43px] flex flex-col max-lg:justify-center max-lg:items-center"
					>
						<li
							class="flex gap-[27px] mb-[30px] max-lg:w-[66%] max-lg:text-start"
						>
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_8_11)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_8_11"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_8_11"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_8_11"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[18px] font-[500] font-museo max-2xl:text-[15px]"
							>
								Создаем спрос на объект еще до размещения его в
								рекламе
							</p>
						</li>
						<li
							class="flex gap-[27px] mb-[30px] max-lg:w-[66%] max-lg:text-start"
						>
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_8_11)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_8_11"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_8_11"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_8_11"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[18px] font-[500] font-museo max-2xl:text-[15px]"
							>
								Используем закрытые базы риэлторов
							</p>
						</li>
						<li
							class="flex gap-[27px] max-lg:w-[66%] max-lg:text-start"
						>
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_8_11)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_8_11"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_8_11"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_8_11"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[18px] font-[500] font-museo max-2xl:text-[15px]"
							>
								Продаем через собственную наработанную базу из
								6000
							</p>
						</li>
					</ul>
					<button
						class="text-white text-[18px] font-[900] font-museo py-[32px] px-[74px] rounded-[5px] transition-all hover:bg-[#FFC256] active:bg-[#CFA55B] bg-[#CFA55B] max-2xl:text-[16px]
						 max-xl:text-[14px] max-md:py-[18px] max-md:px-[50px]"
						style="
					box-shadow: 0px 20px 40px 0px rgba(207, 165, 91, 0.40);"
						>Получите превью предложения</button
					>
				</div>
			</div>

			<div
				class="all flex max-lg:flex-col max-lg:justify-center max-lg:text-center"
			>
				<div class="left">
					<p
						class="mb-[24px] text-[#CFA55B] text-[96px] font-roboto font-[900] uppercase opacity-[0.3] max-xl:text-[90px] max-lg:text-[80px]"
					>
						03
					</p>
					<h3
						class="mb-[42px] text-[#424242] text-[30px] font-[900] uppercase font-museo max-2xl:text-[25px] max-xl:text-[24px] max-md:text-[20px]"
					>
						Собственная база покупателей
					</h3>
					<ul
						class="mb-[43px] flex flex-col max-lg:justify-center max-lg:items-center"
					>
						<li
							class="flex gap-[27px] mb-[30px] max-lg:w-[66%] max-lg:text-start"
						>
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_8_11)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_8_11"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_8_11"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_8_11"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[18px] font-[500] font-museo max-2xl:text-[15px]"
							>
								Создаем спрос на объект еще до размещения его в
								рекламе
							</p>
						</li>
						<li
							class="flex gap-[27px] mb-[30px] max-lg:w-[66%] max-lg:text-start"
						>
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_8_11)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_8_11"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_8_11"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_8_11"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[18px] font-[500] font-museo max-2xl:text-[15px]"
							>
								Используем закрытые базы риэлторов
							</p>
						</li>
						<li
							class="flex gap-[27px] max-lg:w-[66%] max-lg:text-start"
						>
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_8_11)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_8_11"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_8_11"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_8_11"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[18px] font-[500] font-museo max-2xl:text-[15px]"
							>
								Продаем через собственную наработанную базу из
								6000
							</p>
						</li>
					</ul>
					<button
						class="text-white text-[18px] font-[900] font-museo py-[32px] px-[74px] rounded-[5px] transition-all hover:bg-[#FFC256] active:bg-[#CFA55B] bg-[#CFA55B] max-2xl:text-[16px]
						 max-xl:text-[14px] max-md:py-[18px] max-md:px-[50px]"
						style="
					box-shadow: 0px 20px 40px 0px rgba(207, 165, 91, 0.40);"
						>Получите превью предложения</button
					>
				</div>
				<div
					class="flex bg-no-repeat bg-cover w-[55%] bg-left h-[432px] mt-[135px] max-2xl:bg-contain max-lg:hidden"
					style="background-image: url(/sect-2.png);"
				>
				</div>
			</div>
		</div>
	</section>

	<section
		class="bg-no-repeat bg-cover"
		style="background-image: url(/bg-2.png)"
	>
		<div
			class="info h-[736px] w-[] mx-[300px] flex items-center justify-center max-2xl:mx-[150px] max-xl:mx-[75px] max-lg:mx-[50px] max-md:mx-[45px] max-md:justify-center"
		>
			<div
				class="left flex flex-col justify-center mr-auto w-[45%] max-lg:hidden"
			>
				<h2
					class="mb-[53px] text-[36px] text-white font-[900] w-[80%] font-museo max-2xl:text-[30px] max-2xl:w-[90%] max-2xl:mb-[45px] max-xl:text-[28px] max-xl:mb-[35px]"
				>
					<span class="text-[#CFA55B]">Продажа недвижимости</span> в Москве
					и Подмосковье
				</h2>
				<p
					class="mb-[29px] text-white text-[18px] font-[700] font-museo max-2xl:text-[16px] max-2xl:mb-[25px] max-xl:text-[15px] max-xl:mb-[20px]"
				>
					Мы оказываем риэлторские услуги по аренде и продаже
					недвижимости во всех сегментах. С помощью наших специалистов
					вы сможете купить элитную недвижимость в Москве и
					Подмосковье, а также приобрести жилье эконом-класса .
				</p>
				<p
					class="text-white text-[18px] font-[700] font-museo max-2xl:text-[16px] max-xl:text-[15px]"
				>
					Специалисты нашего агентства помогут в подборе оптимального
					для вас варианта и оформят сделку по купле-продаже
					недвижимости максимально надежно и быстро!
				</p>
			</div>
			<div
				class="flex flex-col w-[35%] h-[85%] max-2xl:w-[45%] max-xl:w-[50%] max-lg:w-[70%] max-lg:items-center max-md:w-[110%]"
				style="border-radius: 10px;
			border: 3px solid #CFA55B;
			box-shadow: 0px 4px 30px 0px rgba(207, 165, 91, 0.50);"
			>
				<div
					class="w-[100%] h-[100%] right flex flex-col justify-center items-center px-[35px] pb-[43px] pt-[36px] -translate-x-8 -translate-y-6 max-md:w-[110%]"
					style="border-radius: 10px;
				background: white;
			"
				>
					<h3
						class="text-[#424242] text-[24px] font-[900] font-museo mb-[23px]"
					>
						Продайте недвижимость в залоге, ипотеке или с долгами
						без потери в цене
					</h3>
					<p
						class="text-[#424242] text-[14px] font-[500] font-museo mb-[37px]"
					>
						Агентство недвижимости ИНКОМ — все риэлторские услуги:
						покупка, продажа, обмен, аренда жилой и коммерческой
						недвижимости Москвы и Подмосковь
					</p>
					<ul class="mb-[54px]">
						<li class="flex gap-[14px]">
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_9_22)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_9_22"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_9_22"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_9_22"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[14px] font-[500] font-museo mb-[25px]"
							>
								<span class="text-[#CFA55B]">Создаем спрос</span
								> на объект еще до размещения его в рекламе
							</p>
						</li>
						<li class="flex gap-[14px]">
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_9_22)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_9_22"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_9_22"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_9_22"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[14px] font-[500] font-museo mb-[30px]"
							>
								Используем <span class="text-[#CFA55B]"
									>закрытые базы риэлторов</span
								>
							</p>
						</li>
						<li class="flex gap-[14px]">
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_9_22)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_9_22"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_9_22"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_9_22"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[14px] font-[500] font-museo"
							>
								Продаем через собственную наработанную базу из <span
									class="text-[#CFA55B]">6000</span
								>
							</p>
						</li>
					</ul>
					<button
						class="text-white text-[18px] font-[900] font-museo py-[25px] px-[94px] rounded-[5px] transition-all hover:bg-[#FFC256] active:bg-[#CFA55B]
						 bg-[#CFA55B] max-2xl:text-[16px] max-xl:text-[15px] max-md:text-[13px] max-md:py-[15px] max-md:px-[77px]"
						style="
				box-shadow: 0px 4px 25px 0px rgba(207, 165, 91, 0.50);"
						>Больше информации</button
					>
				</div>
			</div>
		</div>
	</section>

	<!-- Каталог недвижимости -->
	<section
		class="pt-[85px] pb-[95px] mx-[300px] max-2xl:mx-[150px] max-xl:mx-[75px] max-lg:py-0 max-md:mx-[45px]"
	>
		<div class="h-screen flex flex-col items-center justify-center">
			<h2
				class="text-[#424242] text-center text-[36px] font-[900] font-roboto mb-[57px] max-lg:mb-0 max-lg:opacity-40 max-md:text-[24px]"
			>
				Каталог <span class="text-[#CFA55B]">недвижимости</span>
			</h2>
			<h2
				class="text-[#424242] text-center text-[36px] font-[900] font-roboto 2xl:hidden max-2xl:hidden max-xl:hidden max-lg:inline max-lg:opacity-70 max-md:text-[24px]"
			>
				Каталог <span class="text-[#CFA55B]">недвижимости</span>
			</h2>
			<h2
				class="text-[#424242] text-center text-[36px] font-[900] font-roboto mb-[57px] 2xl:hidden max-2xl:hidden max-xl:hidden max-lg:inline max-lg:opacity-100 max-lg:mb-[35px] max-md:text-[24px]"
			>
				Каталог <span class="text-[#CFA55B]">недвижимости</span>
			</h2>
			<ul class="flex gap-[38px]">
				<li>
					<button
						class="text-[#CFA55B] border-[2px] border-[solid] border-[#CFA55B] text-center text-[16px] font-[900] font-museo px-[43px] py-[23px] transition-all
						 hover:bg-[#CFA55B] hover:text-[white] active:bg-[#FFC256] active:border-[#FFC256] max-2xl:text-[12px] max-xl:text-[10px] max-lg:hidden"
						style="border-radius: 5px;"
					>
						Квартиры и новостройки</button
					>
				</li>
				<li>
					<button
						class="text-[#CFA55B] border-[2px] border-[solid] border-[#CFA55B] text-center text-[16px] font-[900] font-museo px-[43px] py-[23px] transition-all
						hover:bg-[#CFA55B] hover:text-[white] active:bg-[#FFC256] active:border-[#FFC256] max-2xl:text-[12px] max-xl:text-[10px] max-lg:hidden"
						style="border-radius: 5px;"
					>
						Новостройки</button
					>
				</li>
				<li>
					<button
						class="text-[#CFA55B] border-[2px] border-[solid] border-[#CFA55B] text-center text-[16px] font-[900] font-museo px-[43px] py-[23px] transition-all
						hover:bg-[#CFA55B] hover:text-[white] active:bg-[#FFC256] active:border-[#FFC256] max-2xl:text-[12px] max-xl:text-[10px] max-lg:hidden"
						style="border-radius: 5px;"
					>
						Аренда квартир и комнат</button
					>
				</li>
				<li>
					<button
						class="text-[#CFA55B] border-[2px] border-[solid] border-[#CFA55B] text-center text-[16px] font-[900] font-museo px-[43px] py-[23px] transition-all
						hover:bg-[#CFA55B] hover:text-[white] active:bg-[#FFC256] active:border-[#FFC256] max-2xl:text-[12px] max-xl:text-[10px] max-lg:hidden"
						style="border-radius: 5px;"
					>
						Загородная</button
					>
				</li>
			</ul>
			<div class="flex items-center justify-center">
				<button class="max-md:hidden">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="68"
						height="68"
						viewBox="0 0 68 68"
						fill="none"
					>
						<g opacity="0.3">
							<path
								d="M47.0334 0L54.9667 7.93333L28.9001 34L54.9667 60.0667L47.0334 68L13.0334 34L47.0334 0Z"
								fill="#CFA55B"></path>
						</g>
					</svg>
				</button>
				<img class="object-cover" src="/sect-3.png" alt="hous" />
				<button class="max-md:hidden">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="68"
						height="68"
						viewBox="0 0 68 68"
						fill="none"
					>
						<g opacity="0.3">
							<path
								d="M20.9666 0L13.0333 7.93333L39.1 34L13.0333 60.0667L20.9666 68L54.9666 34L20.9666 0Z"
								fill="#CFA55B"></path>
						</g>
					</svg>
				</button>
			</div>
			<div class="mb-[47px]">
				<p
					class="text-[#CFA55B] text-[30px] font-[900] font-museo text-center max-2xl:text-[28px] max-xl:text-[26px] max-lg:text-[24px] max-md:text-[20px]"
				>
					3-комн. квартира, 125,4 м²
				</p>
				<p
					class="text-[#424242] text-[18px] font-[700] font-museo text-center max-2xl:text-[16px] max-xl:text-[15px] max-lg:text-[14px] max-md:text-[10px]"
				>
					в ЖК «Река», Квартал 10 корпус 1, сдача в 4 кв. 2021
				</p>
			</div>
			<ul
				class="w-[100%] flex gap-2"
				style="justify-content: space-between"
			>
				<li class="flex flex-col">
					<p
						class="text-[#CFA55B] text-[30px] font-[700] font-museo text-center max-2xl:text-[28px] max-xl:text-[26px] max-lg:text-[24px] max-md:text-[14px]"
					>
						125,4 м²
					</p>
					<p
						class="text-[#8C8C8C] text-[24px] font-[500] font-museo max-2xl:text-[22px] max-xl:text-[20px] max-lg:text-[18px] max-md:text-[13px]"
					>
						Общая
					</p>
				</li>
				<li class="flex flex-col">
					<p
						class="text-[#CFA55B] text-[30px] font-[700] font-museo text-center max-2xl:text-[28px] max-xl:text-[26px] max-lg:text-[24px] max-md:text-[14px]"
					>
						97,9 м²
					</p>
					<p
						class="text-[#8C8C8C] text-[24px] font-[500] font-museo max-2xl:text-[22px] max-xl:text-[20px] max-lg:text-[18px] max-md:text-[13px]"
					>
						Жилая
					</p>
				</li>
				<li class="flex flex-col">
					<p
						class="text-[#CFA55B] text-[30px] font-[700] font-museo text-center max-2xl:text-[28px] max-xl:text-[26px] max-lg:text-[24px] max-md:text-[14px]"
					>
						27,5 м²
					</p>
					<p
						class="text-[#8C8C8C] text-[24px] font-[500] font-museo max-2xl:text-[22px] max-xl:text-[20px] max-lg:text-[18px] max-md:text-[13px]"
					>
						Кухня
					</p>
				</li>
				<li class="flex flex-col">
					<p
						class="text-[#CFA55B] text-[30px] font-[700] font-museo text-center max-2xl:text-[28px] max-xl:text-[26px] max-lg:text-[24px] max-md:text-[14px]"
					>
						7 из 11
					</p>
					<p
						class="text-[#8C8C8C] text-[24px] font-[500] font-museo max-2xl:text-[22px] max-xl:text-[20px] max-lg:text-[18px] max-md:text-[13px]"
					>
						Этаж
					</p>
				</li>
				<li class="flex flex-col">
					<p
						class="text-[#CFA55B] text-[30px] font-[700] font-museo text-center max-2xl:text-[28px] max-xl:text-[26px] max-lg:text-[24px] max-md:text-[14px]"
					>
						2021
					</p>
					<p
						class="text-[#8C8C8C] text-[24px] font-[500] font-museo max-2xl:text-[22px] max-xl:text-[20px] max-lg:text-[18px] max-md:text-[13px]"
					>
						Срок сдачи
					</p>
				</li>
			</ul>
		</div>
	</section>

	<section
		class="py-[100px] bg-no-repeat bg-cover"
		style="background-image: url(/bg-3.png);"
	>
		<div
			class="ml-[300px] flex flex-col items-start justify-start max-2xl:ml-[150px] max-xl:ml-[75px] max-lg:ml-[50px]"
		>
			<h2
				class="text-white text-[36px] font-[900] font-museo mb-[30px] w-[50%] max-2xl:text-[34px] max-xl:text-[32px] max-lg:text-[30px] max-md:text-[25px]"
			>
				Еще остались вопросы?
			</h2>
			<p
				class="mb-[44px] text-white text-[18px] font-[700] font-museo w-[40%] max-2xl:text-[17px] max-xl:text-[15px] max-lg:text-[13px] max-md:text-[11px]"
			>
				Наши эксперты помогут осуществить любые сделки с недвижимостью —
				обмен, покупку или продажу недвижимости в Москве и области,
				аренду городских и загородных объектов.
			</p>
			<form
				action="https://jsonplaceholder.org/posts"
				method="post"
				class="w-[100%]"
			>
				<input
					class="pl-[40px] py-[25px] mr-[27px] w-[35%] max-2xl:w-[50%] max-xl:w-[60%] max-md:w-[90%] max-md:mb-3"
					type="tel"
					name="tel"
					id="tel"
					required
					placeholder="Введите ваш телефон"
					style="border-radius: 10px;
					background: #FFF;
					box-shadow: 0px 4px 20px 0px rgba(66, 66, 66, 0.30);"
				/>
				<button
					class="text-white text-[18px] font-[900] font-museo py-[25px] px-[39px] transition-all hover:bg-[#FFC256] active:bg-[#CFA55B] bg-[#CFA55B] max-2xl:text-[16px] max-xl:text-[14px]
					max-lg:text-[13px] max-md:w-[90%]"
					style="border-radius: 10px;
				box-shadow: 0px 4px 60px 0px rgba(255, 194, 86, 0.40);"
					>Получить консультацию</button
				>
			</form>
		</div>
	</section>

	<footer
		class="mx-[300px] py-[17px] max-2xl:mx-[150px] max-xl:mx-[75px] max-lg:mx-[50px] max-md:mx-[45px]"
	>
		<div class="flex">
			<div class="left mr-auto flex items-center gap-[18px]">
				<svg
					class="max-md:hidden"
					xmlns="http://www.w3.org/2000/svg"
					width="39"
					height="39"
					viewBox="0 0 39 39"
					fill="none"
				>
					<path
						d="M19.6271 8.54688C16.8786 8.54688 14.6415 10.784 14.6415 13.5325C14.6415 16.2811 16.8786 18.5182 19.6271 18.5182C22.3757 18.5182 24.6128 16.2811 24.6128 13.5325C24.6128 10.784 22.3757 8.54688 19.6271 8.54688ZM19.6271 17.0937C17.6635 17.0937 16.066 15.4962 16.066 13.5325C16.066 11.5689 17.6635 9.97135 19.6271 9.97135C21.5908 9.97135 23.1883 11.5689 23.1883 13.5325C23.1883 15.4962 21.5908 17.0937 19.6271 17.0937Z"
						fill="#CFA55B"></path>
					<path
						d="M29.159 4.00064C26.5793 1.42091 23.1491 0 19.5011 0C15.8523 0 12.4228 1.42091 9.84312 4.00064C5.06899 8.77406 4.4757 17.7554 8.55824 23.1969L19.5011 39L30.4275 23.2189C34.5264 17.7554 33.9331 8.77406 29.159 4.00064ZM29.2723 22.3863L19.5011 36.4972L9.71421 22.3643C6.01128 17.427 6.5419 9.31607 10.8509 5.00774C13.1614 2.69724 16.2333 1.42448 19.5011 1.42448C22.7688 1.42448 25.8407 2.69724 28.1519 5.00774C32.4609 9.31607 32.9916 17.427 29.2723 22.3863Z"
						fill="#CFA55B"></path>
				</svg>
				<p
					class="text-[#424242] text-[14px] font-[500] font-museo w-[47%] max-2xl:text-[12px] max-xl:text-[12px] max-lg:text-[11px] max-md:text-[9px]"
				>
					610000 г. Киров, ул. Карла Маркса 21, офис 334
				</p>
			</div>
			<div
				class="left flex items-center text-[#424242] text-[24px] font-[700] font-museo uppercase transition-all hover:text-[#FFC256] active:text-[#CFA55B] max-2xl:text-[20px] max-xl:text-[18px]
				max-lg:text-[16px] max-md:text-[10px]"
			>
				<a href="tel:+76845550102">+7 (684) 555-01-02</a>
			</div>
		</div>
	</footer>
</Layout>
