---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Inkom">
	<section
		class="h-screen bg-no-repeat"
		style="background-image: url(/hero-phone.png);"
	>
		<header
			class="header ml-[300px] mr-[300px] flex items-center mb-[180px]"
		>
			<div class="content flex">
				<div class="left flex mr-[118px]">
					<div class="mr-[110px] flex items-center">
						<a href="#" class="flex flex-col mr-[110px]">
							<h1
								class="text-white text-[51px] font-[400] font-museo"
							>
								Инком
							</h1>
							<h2
								class="text-[#CFA55B] text-[27px] font-[400] font-museo"
							>
								Недвижимость
							</h2>
						</a>
						<p
							class="text-white text-[18px] font-[400] font-museo w-[43%]"
						>
							Все работаю с недвижимостью, а мы с людьми
						</p>
					</div>
				</div>
				<div class="right flex items-center">
					<a
						href="tel:+76845550102"
						class="text-white text-[24px] font-[400] font-museo mr-[40px] w-[57%]"
						>+7 (684) 555-01-02</a
					>
					<button
						class="text-[#FFC256] text-[14px] font-[400] font-museo px-[25px] py-[15px] rounded-[5px] border-sodil border-[#FFC256] border-[2px]"
						style="box-shadow: 0px 0px 30px 0px #FFC256;"
					>
						Бесплатная консультация
					</button>
				</div>
			</div>
		</header>

		<div class="hero">
			<div class="flex flex-col mx-[300px] justify-center">
				<div class="top">
					<div class="flex items-center relative">
						<h2
							class="text-white text-[36px] font-[400] font-museo w-[580px] mb-[83px]"
						>
							Агентство недвижимости <span
								class="text-[36px] text-[#CFA55B] font-[900] font-museo"
								>ИНКОМ</span
							>
							Мы гарантировано продадим вашу недвижимость на <span
								class="text-[36px] text-[#CFA55B] font-[900] font-museo"
								>15% дороже</span
							>
						</h2>
						<button
							class="absolute left-[1060px] rounded-[50%] w-[63px] h-[63px] flex flex-col items-center justify-center"
							style="background-color: rgba(255, 190, 75, 0.30); box-shadow: 0px 0px 30px 0px #FFC256;"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="23"
								height="23"
								viewBox="0 0 23 23"
								fill="none"
							>
								<path
									d="M4.59534 0.159578C4.77902 0.053275 4.9846 0 5.19049 0C5.39582 0 5.60133 0.053275 5.78582 0.159578L19.975 10.4693C20.3427 10.6817 20.5704 11.075 20.5704 11.5002C20.5704 11.9253 20.3433 12.3185 19.975 12.5307L5.78582 22.8409C5.41758 23.053 4.96364 23.053 4.59564 22.8409C4.22734 22.6279 4 22.2345 4 21.8096V1.19036C4 0.765397 4.22697 0.372185 4.59534 0.159578Z"
									fill="white"></path>
							</svg></button
						>
					</div>
					<div
						class="p-[7px] border-[1px] border-solid border-[#CFA55B] mb-[156px] w-fit"
					>
						<button
							class="text-white text-[16px] font-[400] font-museo py-[30px] px-[44px] rounded-[5px] w-[350px]"
							style="background: #CFA55B;

					box-shadow: 0px 0px 60px 0px rgba(255, 194, 86, 0.50);
					#CFA55B
					"
							>УЗНАТЬ СТОИМОСТЬ ПРОДАЖИ
						</button>
					</div>
				</div>
				<div class="bottom">
					<ul class="flex" style="justify-content: space-between">
						<li
							class="flex items-center justify-center gap-[10px] w-[300px]"
						>
							<p
								class="text-white text-[16px] font-[400] font-roboto"
							>
								Продано недвижимости на 3 млрд рублей за 5 лет
							</p>
						</li>
						<li class="flex items-center justify-center gap-[10px]">
							<p
								class="text-white text-[16px] font-[400] font-roboto"
							>
								Юридическое сопровождение
							</p>
						</li>
						<li
							class="flex items-center justify-center gap-[10px] w-[270px]"
						>
							<p
								class="text-white text-[16px] font-[400] font-roboto"
							>
								Квартиры по Москве и области на любой выбор
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<!-- Почему мы продаем дорого -->
	<section class="pt-[78px] pb-[118px]">
		<div class="mx-[300px]">
			<h2
				class="text-center text-[#424242] text-[36px] font-[400] font-museo mb-[51px]"
			>
				Почему мы продаем дорого и делаем это в <span
					class="text-[#CFA55B]">2 раза быстрее</span
				>
			</h2>
			<div class="all flex mb-[74px]">
				<div class="right mr-auto">
					<p
						class="mb-[24px] text-[#CFA55B] text-[96px] font-[900] uppercase opacity-[0.3]"
					>
						01
					</p>
					<h3
						class="mb-[42px] text-[#424242] text-[30px] font-[400] uppercase font-museo"
					>
						Собственная база покупателей
					</h3>
					<ul class="mb-[43px]">
						<li class="flex gap-[27px] mb-[30px]">
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_8_11)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_8_11"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_8_11"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_8_11"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[18px] font-[400] font-museo"
							>
								Создаем спрос на объект еще до размещения его в
								рекламе
							</p>
						</li>
						<li class="flex gap-[27px] mb-[41px]">
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_8_11)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_8_11"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_8_11"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_8_11"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[18px] font-[400] font-museo"
							>
								Используем закрытые базы риэлторов
							</p>
						</li>
						<li class="flex gap-[27px]">
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_8_11)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_8_11"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_8_11"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_8_11"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[18px] font-[400] font-museo"
							>
								Продаем через собственную наработанную базу из
								6000
							</p>
						</li>
					</ul>
					<button
						class="text-white text-[18px] font-[700] font-roboto py-[32px] px-[74px] rounded-[5px]"
						style="background: #CFA55B;
					box-shadow: 0px 20px 40px 0px rgba(207, 165, 91, 0.40);"
						>Получите превью предложения</button
					>
				</div>
				<div
					class="flex bg-no-repeat bg-cover w-[649px] bg-left h-[432px] mt-[135px]"
					style="background-image: url(/sect-2.png);"
				>
				</div>
			</div>

			<div class="all mb-[74px] flex">
				<div
					class="flex bg-no-repeat bg-cover w-[649px] bg-left h-[432px] mt-[135px]"
					style="background-image: url(/sect-2.png);"
				>
				</div>
				<div class="right ml-auto">
					<p
						class="mb-[24px] text-[#CFA55B] text-[96px] font-[900] uppercase opacity-[0.3]"
					>
						02
					</p>
					<h3
						class="mb-[42px] text-[#424242] text-[30px] font-[400] uppercase font-museo"
					>
						Собственная база покупателей
					</h3>
					<ul class="mb-[43px]">
						<li class="flex gap-[27px] mb-[30px]">
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_8_11)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_8_11"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_8_11"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_8_11"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[18px] font-[400] font-museo"
							>
								Создаем спрос на объект еще до размещения его в
								рекламе
							</p>
						</li>
						<li class="flex gap-[27px] mb-[41px]">
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_8_11)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_8_11"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_8_11"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_8_11"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[18px] font-[400] font-museo"
							>
								Используем закрытые базы риэлторов
							</p>
						</li>
						<li class="flex gap-[27px]">
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_8_11)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_8_11"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_8_11"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_8_11"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[18px] font-[400] font-museo"
							>
								Продаем через собственную наработанную базу из
								6000
							</p>
						</li>
					</ul>
					<button
						class="text-white text-[18px] font-[700] font-roboto py-[32px] px-[74px] rounded-[5px]"
						style="background: #CFA55B;
					box-shadow: 0px 20px 40px 0px rgba(207, 165, 91, 0.40);"
						>Получите превью предложения</button
					>
				</div>
			</div>

			<div class="all flex">
				<div class="right mr-auto">
					<p
						class="mb-[24px] text-[#CFA55B] text-[96px] font-[900] uppercase opacity-[0.3]"
					>
						03
					</p>
					<h3
						class="mb-[42px] text-[#424242] text-[30px] font-[400] uppercase font-museo"
					>
						Собственная база покупателей
					</h3>
					<ul class="mb-[43px]">
						<li class="flex gap-[27px] mb-[30px]">
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_8_11)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_8_11"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_8_11"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_8_11"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[18px] font-[400] font-museo"
							>
								Создаем спрос на объект еще до размещения его в
								рекламе
							</p>
						</li>
						<li class="flex gap-[27px] mb-[41px]">
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_8_11)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_8_11"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_8_11"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_8_11"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[18px] font-[400] font-museo"
							>
								Используем закрытые базы риэлторов
							</p>
						</li>
						<li class="flex gap-[27px]">
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_8_11)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_8_11"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_8_11"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_8_11"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[18px] font-[400] font-museo"
							>
								Продаем через собственную наработанную базу из
								6000
							</p>
						</li>
					</ul>
					<button
						class="text-white text-[18px] font-[700] font-roboto py-[32px] px-[74px] rounded-[5px]"
						style="background: #CFA55B;
					box-shadow: 0px 20px 40px 0px rgba(207, 165, 91, 0.40);"
						>Получите превью предложения</button
					>
				</div>
				<div
					class="flex bg-no-repeat bg-cover w-[649px] bg-left h-[432px] mt-[135px]"
					style="background-image: url(/sect-2.png);"
				>
				</div>
			</div>
		</div>
	</section>

	<section
		class="bg-no-repeat bg-cover"
		style="background-image: url(/bg-2.png)"
	>
		<div
			class="info h-[736px] w-[] mx-[300px] flex items-center justify-center"
		>
			<div class="left flex flex-col justify-center mr-auto w-[45%]">
				<h2
					class="mb-[53px] text-[36px] text-white font-[400] w-[80%] font-museo"
				>
					<span class="text-[#CFA55B]">Продажа недвижимости</span> в Москве
					и Подмосковье
				</h2>
				<p
					class="mb-[29px] text-white text-[18px] font-[400] font-museo"
				>
					Мы оказываем риэлторские услуги по аренде и продаже
					недвижимости во всех сегментах. С помощью наших специалистов
					вы сможете купить элитную недвижимость в Москве и
					Подмосковье, а также приобрести жилье эконом-класса .
				</p>
				<p class="text-white text-[18px] font-[400] font-museo">
					Специалисты нашего агентства помогут в подборе оптимального
					для вас варианта и оформят сделку по купле-продаже
					недвижимости максимально надежно и быстро!
				</p>
			</div>
			<div
				class="w-[35%] h-[85%]"
				style="border-radius: 10px;
			border: 3px solid #CFA55B;
			box-shadow: 0px 4px 30px 0px rgba(207, 165, 91, 0.50);"
			>
				<div
					class="w-[100%] h-[100%] right flex flex-col justify-center items-center px-[35px] pb-[43px] pt-[36px] -translate-x-8 -translate-y-6"
					style="border-radius: 10px;
				background: white;
			"
				>
					<h3
						class="text-[#424242] text-[24px] font-[400] font-museo mb-[23px]"
					>
						Продайте недвижимость в залоге, ипотеке или с долгами
						без потери в цене
					</h3>
					<p
						class="text-[#424242] text-[14px] font-[400] font-museo mb-[37px]"
					>
						Агентство недвижимости ИНКОМ — все риэлторские услуги:
						покупка, продажа, обмен, аренда жилой и коммерческой
						недвижимости Москвы и Подмосковь
					</p>
					<ul class="mb-[54px]">
						<li class="flex gap-[14px]">
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_9_22)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_9_22"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_9_22"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_9_22"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[14px] font-[400] font-museo mb-[25px]"
							>
								<span class="text-[#CFA55B]">Создаем спрос</span
								> на объект еще до размещения его в рекламе
							</p>
						</li>
						<li class="flex gap-[14px]">
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_9_22)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_9_22"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_9_22"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_9_22"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[14px] font-[400] font-museo mb-[30px]"
							>
								Используем <span class="text-[#CFA55B]"
									>закрытые базы риэлторов</span
								>
							</p>
						</li>
						<li class="flex gap-[14px]">
							<svg
								width="30"
								height="30"
								viewBox="0 0 30 30"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g filter="url(#filter0_d_9_22)">
									<rect
										x="5.41421"
										y="11"
										width="13.5563"
										height="13.5563"
										transform="rotate(-45 5.41421 11)"
										stroke="#CFA55B"
										stroke-width="2"></rect>
								</g>
								<defs>
									<filter
										id="filter0_d_9_22"
										x="0"
										y="0"
										width="29.9999"
										height="30"
										filterUnits="userSpaceOnUse"
										color-interpolation-filters="sRGB"
									>
										<feFlood
											flood-opacity="0"
											result="BackgroundImageFix"
										></feFlood>
										<feColorMatrix
											in="SourceAlpha"
											type="matrix"
											values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
											result="hardAlpha"></feColorMatrix>
										<feOffset dy="4"></feOffset>
										<feGaussianBlur stdDeviation="2"
										></feGaussianBlur>
										<feColorMatrix
											type="matrix"
											values="0 0 0 0 0.811765 0 0 0 0 0.647059 0 0 0 0 0.356863 0 0 0 0.5 0"
										></feColorMatrix>
										<feBlend
											mode="normal"
											in2="BackgroundImageFix"
											result="effect1_dropShadow_9_22"
										></feBlend>
										<feBlend
											mode="normal"
											in="SourceGraphic"
											in2="effect1_dropShadow_9_22"
											result="shape"></feBlend>
									</filter>
								</defs>
							</svg>

							<p
								class="text-[#424242] text-[14px] font-[400] font-museo"
							>
								Продаем через собственную наработанную базу из <span
									class="text-[#CFA55B]">6000</span
								>
							</p>
						</li>
					</ul>
					<button
						class="text-white text-[18px] font-[400] font-museo py-[25px] px-[94px] rounded-[5px]"
						style="background: #CFA55B;
				box-shadow: 0px 4px 25px 0px rgba(207, 165, 91, 0.50);"
						>Больше информации</button
					>
				</div>
			</div>
		</div>
	</section>

	<!-- Каталог недвижимости -->
	<section class="pt-[85px] pb-[95px] mx-[300px]">
		<div class="h-screen flex flex-col items-center justify-center">
			<h2
				class="text-[#424242] text-center text-[36px] font-[900] font-roboto mb-[57px]"
			>
				Каталог <span class="text-[#CFA55B]">недвижимости</span>
			</h2>
			<ul class="flex gap-[38px]">
				<li>
					<button
						class="text-[#CFA55B] text-center text-[16px] font-[400] font-museo px-[43px] py-[23px] transition-all hover:bg-[#CFA55B] hover:text-[white]"
						style="border-radius: 5px;
				border: 2px solid #CFA55B;"
					>
						Квартиры и новостройки</button
					>
				</li>
				<li>
					<button
						class="text-[#CFA55B] text-center text-[16px] font-[400] font-museo px-[43px] py-[23px] transition-all hover:bg-[#CFA55B] hover:text-[white]"
						style="border-radius: 5px;
				border: 2px solid #CFA55B;"
					>
						Новостройки</button
					>
				</li>
				<li>
					<button
						class="text-[#CFA55B] text-center text-[16px] font-[400] font-museo px-[43px] py-[23px] transition-all hover:bg-[#CFA55B] hover:text-[white]"
						style="border-radius: 5px;
				border: 2px solid #CFA55B;"
					>
						Аренда квартир и комнат</button
					>
				</li>
				<li>
					<button
						class="text-[#CFA55B] text-center text-[16px] font-[400] font-museo px-[43px] py-[23px] transition-all hover:bg-[#CFA55B] hover:text-[white]"
						style="border-radius: 5px;
				border: 2px solid #CFA55B;"
					>
						Загородная</button
					>
				</li>
			</ul>
			<div class="flex">
				<button>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="68"
						height="68"
						viewBox="0 0 68 68"
						fill="none"
					>
						<g opacity="0.3">
							<path
								d="M47.0334 0L54.9667 7.93333L28.9001 34L54.9667 60.0667L47.0334 68L13.0334 34L47.0334 0Z"
								fill="#CFA55B"></path>
						</g>
					</svg>
				</button>
				<img class="object-cover" src="/sect-3.png" alt="hous" />
				<button>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="68"
						height="68"
						viewBox="0 0 68 68"
						fill="none"
					>
						<g opacity="0.3">
							<path
								d="M20.9666 0L13.0333 7.93333L39.1 34L13.0333 60.0667L20.9666 68L54.9666 34L20.9666 0Z"
								fill="#CFA55B"></path>
						</g>
					</svg>
				</button>
			</div>
			<div class="mb-[47px]">
				<p
					class="text-[#CFA55B] text-[30px] font-[400] font-museo text-center"
				>
					3-комн. квартира, 125,4 м²
				</p>
				<p
					class="text-[#424242] text-[18px] font-[400] font-museo text-center"
				>
					в ЖК «Река», Квартал 10 корпус 1, сдача в 4 кв. 2021
				</p>
			</div>
			<ul class="w-[100%] flex" style="justify-content: space-between">
				<li class="flex flex-col">
					<p
						class="text-[#CFA55B] text-[30px] font-[400] font-museo text-center"
					>
						125,4 м²
					</p>
					<p class="text-[#8C8C8C] text-[24px] font-[400] font-museo">
						Общая
					</p>
				</li>
				<li class="flex flex-col">
					<p
						class="text-[#CFA55B] text-[30px] font-[400] font-museo text-center"
					>
						97,9 м²
					</p>
					<p class="text-[#8C8C8C] text-[24px] font-[400] font-museo">
						Жилая
					</p>
				</li>
				<li class="flex flex-col">
					<p
						class="text-[#CFA55B] text-[30px] font-[400] font-museo text-center"
					>
						27,5 м²
					</p>
					<p class="text-[#8C8C8C] text-[24px] font-[400] font-museo">
						Кухня
					</p>
				</li>
				<li class="flex flex-col">
					<p
						class="text-[#CFA55B] text-[30px] font-[400] font-museo text-center"
					>
						7 из 11
					</p>
					<p class="text-[#8C8C8C] text-[24px] font-[400] font-museo">
						Этаж
					</p>
				</li>
				<li class="flex flex-col">
					<p
						class="text-[#CFA55B] text-[30px] font-[400] font-museo text-center"
					>
						2021
					</p>
					<p class="text-[#8C8C8C] text-[24px] font-[400] font-museo">
						Срок сдачи
					</p>
				</li>
			</ul>
		</div>
	</section>

	<section
		class="py-[100px] bg-no-repeat bg-cover"
		style="background-image: url(/bg-3.png);"
	>
		<div class="ml-[300px] flex flex-col items-start justify-start">
			<h2
				class="text-white text-[36px] font-[400] font-museo mb-[30px] w-[50%]"
			>
				Еще остались вопросы?
			</h2>
			<p
				class="mb-[44px] text-white text-[18px] font-[400] font-museo w-[40%]"
			>
				Наши эксперты помогут осуществить любые сделки с недвижимостью —
				обмен, покупку или продажу недвижимости в Москве и области,
				аренду городских и загородных объектов.
			</p>
			<form
				action="https://jsonplaceholder.org/posts"
				method="post"
				class="w-[100%]"
			>
				<input
					class="pl-[40px] py-[25px] mr-[27px] w-[35%]"
					type="tel"
					name="tel"
					id="tel"
					required
					placeholder="Введите ваш телефон"
					style="border-radius: 10px;
					background: #FFF;
					box-shadow: 0px 4px 20px 0px rgba(66, 66, 66, 0.30);"
				/>
				<button
					class="text-white text-[18px] font-[400] font-museo py-[25px] px-[39px]"
					style="border-radius: 10px;
				background: #CFA55B;
				box-shadow: 0px 4px 60px 0px rgba(255, 194, 86, 0.40);"
					>Получить консультацию</button
				>
			</form>
		</div>
	</section>

	<footer class="mx-[300px] py-[17px]">
		<div class="flex">
			<div class="left mr-auto flex items-center gap-[18px]">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="39"
					height="39"
					viewBox="0 0 39 39"
					fill="none"
				>
					<path
						d="M19.6271 8.54688C16.8786 8.54688 14.6415 10.784 14.6415 13.5325C14.6415 16.2811 16.8786 18.5182 19.6271 18.5182C22.3757 18.5182 24.6128 16.2811 24.6128 13.5325C24.6128 10.784 22.3757 8.54688 19.6271 8.54688ZM19.6271 17.0937C17.6635 17.0937 16.066 15.4962 16.066 13.5325C16.066 11.5689 17.6635 9.97135 19.6271 9.97135C21.5908 9.97135 23.1883 11.5689 23.1883 13.5325C23.1883 15.4962 21.5908 17.0937 19.6271 17.0937Z"
						fill="#CFA55B"></path>
					<path
						d="M29.159 4.00064C26.5793 1.42091 23.1491 0 19.5011 0C15.8523 0 12.4228 1.42091 9.84312 4.00064C5.06899 8.77406 4.4757 17.7554 8.55824 23.1969L19.5011 39L30.4275 23.2189C34.5264 17.7554 33.9331 8.77406 29.159 4.00064ZM29.2723 22.3863L19.5011 36.4972L9.71421 22.3643C6.01128 17.427 6.5419 9.31607 10.8509 5.00774C13.1614 2.69724 16.2333 1.42448 19.5011 1.42448C22.7688 1.42448 25.8407 2.69724 28.1519 5.00774C32.4609 9.31607 32.9916 17.427 29.2723 22.3863Z"
						fill="#CFA55B"></path>
				</svg>
				<p
					class="text-[#424242] text-[14px] font-[400] font-museo w-[47%]"
				>
					610000 г. Киров, ул. Карла Маркса 21, офис 334
				</p>
			</div>
			<div
				class="left flex items-center text-[#424242] text-[24px] font-[400] font-museo uppercase"
			>
				<a href="tel:+76845550102">+7 (684) 555-01-02</a>
			</div>
		</div>
	</footer>
</Layout>